header {
    padding: 1rem 0;
    height: 25vh;
    
    h1{
        font-size: 2rem;
    }
    h2 {font-size: 1.5rem;}

}

/* NAVIGATION STUFF GOES HERE  */
nav button {display: none;}

nav {
    background-color: black;
    ul {
        display: flex;
        margin-left: 2%;
        border-left: 1px solid rgba(0,0,0,0.1);
    }
    ul li {border-right: 1px solid rgba(0,0,0,0.1);}

    ul li a {
        display: block;
        font-size: 1rem;
        padding: .9rem 1.2rem;
        color: rgba(255,255,255,.9);
        text-decoration: none;
        transition: background 0.3s linear;
    }

    ul li a:hover { background: rgba(0,0,0,0.5);}

    #primaryNav li.parent > a:after {
        content: "\25BC";
        font-size: .65rem;
        color: rgba(255,255,255,0.5);
        float: left;
    }

    ul li ul {
        display: flex;
        flex-direction: column;
        background-color: darken(black, 5%);
        border: none;
        width: 14rem;
        position: absolute;
        left: -999rem;
        z-index: 99;
    }

    ul li ul li {
        border-right: none;
        border-top: solid 1px rgba(0,0,0,0.2);
    }

    ul li:hover ul {
        left: auto;
        margin-left: 0;
    }

    li.active {
        background-color: rgba(0,0,0,0.25);
    }
}

//Main 
main {
    div.drinkGallery figure {
        width: 100%;
        height: 0;
        padding-bottom: 80%;
      }

      div.drinkGallery figure img {
        height: 600px;
      }

      .swiper-wrapper p {
        font-size: 1.5rem;
      }

      div#welcome, div#catering {font-size: 1.5rem;}


      div#menuCards {
        display: grid;
        grid-template-columns: 1fr 1fr;
      
      }
      
      div.card {
        justify-self: center;
        height: 25vh;
      }

      div#whoWeAre {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 2vh;

        img {grid-area: 1; width: 450px;}
        div {
            grid-area: 1;
            padding: 1rem;
            p {font-size: 1.25rem;} 
        }
        div.mission {grid-area: 2 / span 3;}
      }

}